@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  display: flex;  
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; /* Add margin between the image containers */
  
  
  
}

.image-wrapper {
  width: 300px;
  align-self: flex-end;
  
}

.item
{
  position: absolute;
  text-align: center;
  pointer-events: none;
  transform: translate(3% , 30%);
  font-weight: bold;
  
}

.name{
  
    position: absolute;
    text-align: center;
    pointer-events: none;
    transform: translate(20% , -25%);
    font-size: 440px; /* Adjust the font size as needed */
    opacity: 0.4; /* Adjust the opacity as needed */
    font-weight: bold; /* Make the text bold */
  
  
}



